 body { font-family: Arial; 
        margin: 0; 
        background: #3c4532; 
        color: white; }

    header { text-align: center; 
        padding: 50px; }

    section { padding: 40px; }

    h2 { border-bottom: 2px solid #38bdf8; 
        display: inline-block; }

    .projects div { margin: 15px 0; }

    a { color: #38bdf8; 
        text-decoration: none; }